body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(bg.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.app-title
{
    margin-top: 100px;
    color: white;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.app-title h1{
    font-size: 30px;
    line-height: 10px;
}
form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control
{
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    margin-bottom: 16px;
}
.form-select
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}
input
{
    height: 40px;
}
form .submit
{
    background: blue;
    border-color:transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover
{
    background-color: lightblue;
}